<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
                <%- include('../partials/nav') %>                <main>
                    <% if (locals.notice) { %>
                        <p class="notice"><%= notice %></p>
                    <% } %>
                    <%- body %> <!-- This is where your index.ejs content renders -->
                </main>

                    <%- include('../partials/footer') %>
        </div>
    </body>

</html>